.grupo-de-elementos{
    width: 100%;
    min-height: 400px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}
.main-compra{
    width: 100%;
    min-height: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    margin-top: 100px;
    
}
.pagamento-total{
   
    background-color: #fff;
    width: 40%;
    min-height: auto;
    max-height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.container-pagamento{
    width: 80%;
    height: 500px;
    border: 1px solid rgba(184, 184, 184, 0.833);
    border-radius: 5px;
}
.carrinho-de-compra{
   
    width: 40%;
    min-height: 400px;
    min-height: auto;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    
}




.produto-no-carrinho{
    position: relative;
    margin:0 10px;
    width: 80%;
    height: 280px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    border-radius: 10px;
    border: 1px solid rgba(67, 66, 66, 0.378);
    box-shadow: 2px 1px 1px rgb(221, 220, 220);
    background-color: #fff;
}
.imagem{
    width: 30%;
    height: 300px;
    display: flex;
    padding-top: 30px;
    align-items: start;
    justify-content: center;
}
.imagem img{
    width:80%;
}
.descricao-do-produto{
    width:auto;
}
.descricao-do-produto h3{
    font-size: 16px;
    font-weight: 300;
}
.cor{
    width: auto;
    color: rgb(172, 172, 172);
    line-height: 20px;
}
.cor h3{
    font-size: 14px;
    font-weight: 400;

}
.tamanho{
    width: auto;
}
.tamanho h3{
    font-size: 14px;
    font-weight: 400;
    color: rgb(172, 172, 172);
    line-height: 10px;
}
.quantidade{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantidade input{
    width: 10%;
    border: none;
    appearance:textfield;
    text-align: center;
    border: 1px solid rgb(207, 206, 206);
}
.valor-do-produto{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    color: rgb(90, 89, 89);
}


.row{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;

}
.row-texto{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
}
.excluir-do-carrinho{
    position: absolute;
    top: 10px;
    right: 10px;
}
