
.carrosel{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    animation-name: main;
	animation-duration: 1s;
    flex-wrap: wrap;
}
.tituloSessao{
    padding: 0;
    margin: 0;
}

.grupoDeImagensCarrosel{
    width: 80%;
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    animation-name: carroseldosprodutos;
	animation-duration: 1s;
    
}
@keyframes carroseldosprodutos{
	0% {opacity: 0;transform: translate(-30px, 0px);}
    60%{opacity: 0;transform: translate(-10px, 0px);}
	
}
.boxProdutoCarrosel h2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.boxProdutoCarrosel h3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-weight: 500;
    color: rgb(59, 59, 59);
}
.boxProdutoCarrosel{
    background-color: rgb(251, 251, 251);
    flex: 1 0 350px ;
    height:auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    padding: 10px;

}

.boxProdutoCarrosel img{
    width:80%;
    padding: 0;
    transform: translatey(-5px);
     
}

.tituloProduto{
    font-size: 18px;
    font-weight:100;
    padding: 0;
    font-weight: normal;
    color: rgb(136, 136, 136);
}

.tituloSessao{
    width: 100%;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
    padding: 50px 0;
}

#sobre_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #cecece;
    animation-name: banners;
	animation-duration: 1s;
 
}
@media(max-width:800px){
    .boxProdutoCarrosel{
        background-color: rgb(251, 251, 251);
       
       
       
    }
    
.grupoDeImagensCarrosel{
    width: 100%;
}
}