
.carrosel{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    padding: 0;
    margin: 80px 0;
    animation-name: main;
	animation-duration: 2s;
    flex-wrap: wrap;
    background-color: #fff;
}

.grupoDeImagensCarrosel{
    width: 80%;
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    animation-name: carroseldosprodutos;
	animation-duration: 1s;
    background-color: #902c2c;
}
@keyframes carroseldosprodutos{
	0% {opacity: 0;transform: translate(-30px, 0px);}
    60%{opacity: 0;transform: translate(-10px, 0px);}
	
}
.boxProdutoCarrosel h2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.boxProdutoCarrosel h3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.boxProdutoCarrosel{
    background-color: rgb(251, 251, 251);
    box-shadow: 1px 2px 2px rgb(148, 148, 148);
    flex: 1 0 300px ;
    height:auto;
    min-width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    padding: 10px;
    border: 1px solid rgba(159, 159, 159, 0.188);
   
}

.boxProdutoCarrosel img{
    width:90%;
    padding: 0;
   
}

.tituloProduto{
    font-size: 18px;
    padding: 0;
    font-weight: 300;
}
.precoProduto{
    font-weight: 700;
    font-size: 24px;
    padding: 0;
}
.tituloSessao{
    width: 100%;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
    padding: 50px 0;
}

#sobre_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #cecece;
    animation-name: banners;
	animation-duration: 1s;
 
}
@media(max-width:800px){
    .boxProdutoCarrosel{
        background-color: rgb(251, 251, 251);
        width: 100%;
        min-width: 100px;
        min-width: 250px;
        height: auto;
       
       
    }
    
.grupoDeImagensCarrosel{
    width: 100%;
}
}