
 nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;

 }
 .menu{
    width: 100%;
    height: auto;
    background-color: #6F1AB6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0;
    z-index: 15;
 }  
 .logo{
    width: 33%;
    min-width: 300px;
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    justify-content: center;
 }
 .logo a{
    text-decoration: none;
    color: white;
 }
 .barra-pesquisa{
    position: relative;
    width: 33%;
    min-width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
 }
 .barra-pesquisa input{
    width: 80%;
    outline: 0;
    border: 0 none;
    padding: 5px 50px 5px 20px;
    border-radius: 20px;
    font-size: 18px;
 }
 .icone-pesquisa{
    position: absolute;
    top: 18px;
    right: 60px;
 }
 .carrinho{
    width: 33%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .carrinho a{
    font-size: 18px;
    text-decoration: none;
    color: aliceblue;
    padding-right: 5px;
 }

 .menu-categoria{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content:space-around;
    align-items: center;
    animation-duration: 2s;
    background-color: #fff;
    z-index: 16;
}
.menu-categoria .botaoCategoria{
    font-size: 16px;
    width: 25%;
    height: 30px;
    border: none;
    font-weight: 300;
    cursor: pointer;
    padding: 0;
}
.botaoCategoria:hover{
    width: 25%;
    height: 30px;
    background-color:#070A52;
    color: white;
    font-weight: normal;
    border-top: 1px solid rgb(104, 104, 104);
}
.botao-menu-responsivo{
    display: none;
}
.menu-responsivo{
    display: none;
}
@media (max-width: 862px)
{
    /*menu*/
    .menu{
        height: 150px;
    }
    .ativa{
        display: initial;
        
    }
    .menu-responsivo{
        width: 100%;
        height: auto;
        background-color:#070952e7;
        z-index: 11;
        position: fixed ;
        
    }
    .menu-responsivo ul{
        width: 90%;
        background-color: #6F1AB6;
        height: 90vh;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: first baseline;
        list-style: none;
        padding-top: 50px;
        border: none;
        z-index: 12;
    }
    .menu-responsivo ul li{
        padding: 20px 0;
    }
    .menu-responsivo ul li a{
        color: white;
        text-decoration: none;
        font-weight: bold;  
    }

    .botao-menu-responsivo {
        width: 40%;
        min-width: 0;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .botao-menu-responsivo i{
       width: 100%;
       height: 100px;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .barra-pesquisa input{
        padding: 5px 55px 5px 20px;
    }
    /*carrinho*/
    .carrinho{
        display: none;
     }
     /*barra pesquisa*/
     .barra-pesquisa{
        position: absolute;
        width: 100%;
        top: 100px;
     }
     /*logo*/
     .logo{
        width: 60%;
        min-width: 0;
        font-size: 25px;
     }
}

/*footer*/
footer{
    width: 100%;
    height: 500px;
    align-items: flex-start;
    justify-content: start;
    background-color: #d0d0d0;
}