
 nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
    height: auto;
 }
 .menu{
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #152060 0%, #172366 35%, #0b175e 100%);
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0;
    z-index: 15;
 }  
 .logo{
    width: 33%;
    min-width: 300px;
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    justify-content: center;
 }
 .logo a{
    text-decoration: none;
    color: white;
 }
 .logo a:hover{
   transform: translatey(-1px);
   transition: all .2s ease;
   color: var(--secundary-color);
 }
 
 .barra-pesquisa{
    position: relative;
    width: 33%;
    min-width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
 }
 .barra-pesquisa input{
    width: 80%;
    outline: 0;
    border: 0 none;
    padding: 5px 50px 5px 20px;
    border-radius: 20px;
    font-size: 18px;
 }
 .icone-pesquisa{
    position: absolute;
    top: 18px;
    right: 60px;
 }
 .carrinho{
    width: 33%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .carrinho a{
    font-size: 18px;
    text-decoration: none;
    color: aliceblue;
    padding-right: 5px;
 }

 .menu-categoria{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content:space-around;
    align-items: center;
    animation-duration: 2s;
    z-index: 16;
    
}
.menu-categoria .botaoCategoria{
    font-size: 16px;
    width: 25%;
    height: 30px;
    border: none;
    font-weight: 300;
    cursor: pointer;
    padding: 0;
}
.botaoCategoria:hover{
   transform: translatey(-1px);
   transition: all .2s ease;
    width: 25%;
    height: 30px;
    font-weight: normal;
    color: var(--secundary-color);
}
.botao-menu-responsivo{
    display: none;
}
.menu-responsivo{
    display: none;
}
@media (max-width: 862px)
{
  

    /*menu*/
    .menu{
        width: 100%;
        height: 85px;
        padding: 0;
        display: flex;
        position: relative;
    }
    .logo{
        width: 50%;
        min-width: 0;
        font-size: 25px;
        padding: 0;
        min-width:0;
        position: absolute;
        top: 5px;left: 5px;
        font-size: 20px;
     }
     .logo a:hover{
      transform: translatey(-1px);
      transition: all .50s ease;
     }
     .barra-pesquisa{
        width: 100%;
        padding: 0;
        min-width: 0px;
        position: absolute;
        top: 40px;
     }
     .barra-pesquisa input{
        padding: 5px 55px 5px 20px;
        width: 90%;
    }
     .botao-menu-responsivo {
        width: 10%;
        min-width: 0;
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center; 
        padding: 0;
        position: absolute;
        top: 0px;
        right: 5px;
       
    }



    .ativa{
        display: initial;

        
    }

     
     .icone-pesquisa{
       
        top: 16px;
        right: 60px;
     }
   
    .menu-responsivo{
         display: flex;
        width: 100%;
        height: auto;
        z-index: 101;
        right: 0px;
        position: fixed ;

    }
  
   .menu-responsivo ul{
      width: 50%;
      height: 80vh;
      position: absolute;
      top: 0px;
      right:-400px;
      display: flex;
      flex-direction: column;
      align-items:center;
      list-style: none;
      border-bottom-left-radius: 10px;
      transition: all 0.3s ease;
      z-index: 12;
      background: linear-gradient(90deg, #2c3568 0%, #162263 35%, #091663 100%);
      box-shadow: inset 0 0 50px 5px  #051365;
      justify-content: flex-start;
    }
    .menu-responsivo ul li{
      margin-top: 20px;
        padding: 10px 0
    }
    .menu-responsivo ul li:hover{
      transform: translatey(-5px);
      transition: all .50s ease;
    }
    .menu-responsivo ul li a{
        color: white;
        text-decoration: none;
        font-weight: 300;  
    }
    

   
    .botao-menu-responsivo i{
       width: 100%;
       height: 0px;
       display: flex;
       justify-content: center;
       align-items: center;
    }
   
    /*carrinho*/
    .carrinho{
        display: none;
     }
     /*barra pesquisa*/
    
     /*logo*/
    
}

/*footer*/
footer{
    width: 100%;
    height: 400px;
    align-items: flex-start;
    justify-content: start;
    background: linear-gradient(90deg, #252f66 0%, #162163 35%, #091663 100%);
}