@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: linear-gradient(90deg, #f9f6f9 0%, #f8edf8 35%, #f7e3f7 100%); */
}
:root {
    --primary-color:#111D5E;
    --secundary-color:#B21F66;
    --tertiary-color:#FFBD69;
    --outras-cores:#FE346E;
}
