.container{
    background-color: #f2f2f2;
}
.bannerInicial{
    width: 100%;
	animation-name: main;
	animation-duration: 1s;
    
}
#sobre_imagem img{
    width: 100%;
   
}

@keyframes main{
	0% {opacity: 0;transform: translate(-10px, 0px);}
	100%{opacity: 1; transform: translate(0px, 0px);}
}

@media (max-width: 862px)
{
    .bannerInicial{
        min-width: auto;
        min-height: 200px;
        
    }
    #sobre_imagem {
        overflow: hidden;
    }
   #sobre_imagem img{
    min-width: 862px;
   }
}