.bannerInicial{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
	animation-name: main;
	animation-duration: 1s;
    
}
#sobre_container{
    width: 100%;
    display: flex;
}
#sobre_imagem{
    width: 100%;
    padding: 0;
    display: flex;
}
#sobre_imagem img{
    width: 100%;
   
}
#conteudo_sobre{
    width: 100%;
}
@keyframes main{
	0% {opacity: 0;transform: translate(-10px, 0px);}
	100%{opacity: 1; transform: translate(0px, 0px);}
}