#sobre_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #cecece;
    animation-name: banners;
	animation-duration: 1s;
 
}

#conteudo_sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#conjunto_seta_sobre{
    display: flex;
    width: 10%;
    justify-content:center;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 500px;
    right: 100px;
 
}
    #seta_sobre_anterior{
        width: 10%;
        text-align: end;
        padding-right: 20px;
        font-weight: bold;
        font-size: 2em;
        color: #cecece;
    }
    #seta_sobre_frente{
        width:10%;
        text-align: start;
        padding-left: 20px;
        font-weight: bold;
        font-size: 2em;
        color: #cecece;
    }
#sobre_titulo{
    display: none;
    
}
#sobre_imagem{
    margin-top: 40px;
    width: 100%;
    height: 64vh;
    display: flex;
    justify-content: center;
    animation-name: banners;
	animation-duration: 1s;
   
}
@media (max-width: 862px){
    #conjunto_seta_sobre{
        display: flex;
        width: 20%;
        height: 10px;
        cursor: pointer;
        position: absolute;
        top: 500px;
        right: 10px;
     
    }
}