#sobre_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #cecece;
    animation-name: banners;
	animation-duration: 1s;
 
}



#conjunto_seta_sobre{
    margin-top: -30px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content:center;
    cursor: pointer;
   
 
}
    #seta_sobre_anterior{
        width: 5%;
        font-weight: bold;
        color: #cecece;
        text-align: center;
    }
    #seta_sobre_frente{
        width:5%;
        color: #cecece;
        text-align: center;
    }
    .seta-frente{
        font-size: 10px;
        padding: 10px;
    }
    .seta-anterior{
        font-size: 10px;
        padding: 10px;
    }
#sobre_titulo{
    display: none;
    
}
#sobre_imagem{
    margin-top: 40px;
    width: 100%;
    height: 64vh;
    display: flex;
    justify-content: center;
    animation-name: banners;
	animation-duration: 1s;
   
}
@media (max-width: 862px){
    
}