
.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 60px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    background-color:#070A52;
    font-weight: 300;
    z-index: 1;
    
}
.menu{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    min-width: 25%;
    width: 25%;
    height: 100px;
    
    
    

}
.nav ul li{
    list-style: none;
    padding-left: 40px;
}
.logo{
    display: flex;
    min-width: 25%;
    width: 25%;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    font-weight: 800;
    font-size: 130%;
   
}
.imputPesquisa{
    width: 25%;
    min-width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: 0 none;
}
.imputPesquisa i{
    width: 30px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 0px;
    right: 40px;
    color: #070A52;
}
.nav input{
    font-size: 1em;
    width: 80%;
    height: 40px;
    border:0 none;
    border-radius: 100px;
    padding: 0 0 0 50px;
    outline: 0;

    
}
.fa-solid {
    margin-left: 10px;
}
.nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
a{
    color:white
}

.menu-responsivo{
    display: none;
}
.botao-menu-responsivo{
    display: none;
}
i{
    display: none;
}
.categoriaProduto{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    top: 60px;
    animation-duration: 2s;
    background-color: #fff;
    z-index: 1;
}
@keyframes categoriaProduto{
	0% {opacity: 0;transform: translate(-100px, 0px);}
	100%{opacity: 1; transform: translate(0px, 0px);}
}
.categoriaProduto .botaoCategoria{
    font-size: 16px;
    width: 25%;
    height: 30px;
    border: none;
    font-weight: 300;
    cursor: pointer;
    padding: 0;

    z-index: 1;
}
.botaoCategoria:hover{
    width: 25%;
    height: 30px;
    background-color:#070A52;
    color: white;
    font-weight: normal;
    border-top: 1px solid rgb(104, 104, 104);
}
/*rodape*/
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 50px;
    color: rgb(255, 255, 255);
   
    background-color:#3c3d47;
    font-weight: 300;
}
@media (max-width: 862px)
{
    
    .ativa{
        display: initial;
        
    }

    .menu-responsivo ul{
        width: 90%;
        background-color:#070A52;
        height: 90vh;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: first baseline;
        list-style: none;
        padding-top: 50px;
        border: none;
    }
    .menu-responsivo ul li a{
        color: white;
        text-decoration: none;
        font-weight: bold;
        
    }
    .menu-responsivo ul li{
        padding: 20px 0;
        
    }
    .menu{
        display: none;
    }
    .imputPesquisa{
        display: none;
    }
    .nav input{
        display: none;
    }
    .botao-menu-responsivo{
        display: initial;
        width: 50%;
        
    }
    .menuResponsivo{
        width: 50%;
        height: 100px;
        display: flex;
    }
    .botao-menu-responsivo {
        width: 50%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .botao-menu-responsivo i{
       width: 100%;
       height: 100px;
       display: flex;
       justify-content: center;
       align-items: center;
        
    }
   
    .logo{
        width: 50%;
        font-size: 1.5em;
        padding-left: 10px;
    }
    i{
        display: initial;
    }
}
